# Compiled files
*.exe
*.dll
*.pdb

# NuGet packages
*.nupkg

# Build directories
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Visual Studio files
.vs/
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.suo
*.cachefile
*.VC.db
*.sln.docstates
*.sln.ide
*.sln.layout
*.sln.ruleset
*.sln.user
*.TestSettings
*.vssscc
*.vspscc
*.vspx

# Resharper files
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Test Results
[TestResults]

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
build/
msbuild.log
msbuild.err
msbuild.wrn

# ClickOnce publishing
publish/

# Exclude unnecessary files and folders
[Oo]ld/
[Tt]emp/
